I.MES.ClientCore/Service References/ChannelWCF/BaseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/I.MES.Models.IFModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/I.MES.Models.IFModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPurchaseOrderSync">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderSync" nillable="true" type="tns:PurchaseOrderSync" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrderSync" nillable="true" type="tns:ArrayOfPurchaseOrderSync" />
  <xs:complexType name="PurchaseOrderSync">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillCreateDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliverySupplierID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DemandDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Denominator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestFactoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DockAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DockNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactoryNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsConv2TO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSyncSAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTransed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numerator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigFactoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageQty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerPackageQty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseMeasureUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecQty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderOrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StkQty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockMeasureUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupItemGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WindowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPlanner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderSync" nillable="true" type="tns:PurchaseOrderSync" />
</xs:schema>