I.MES.ClientCore/Service References/ChannelWCF/BaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10133/BaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBytes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBytesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendBytesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WFMDirectPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="lstDirectPostTask" nillable="true" type="q1:ArrayOfWFMDirectPostTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WFMDirectPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="WFMDirectPostResult" nillable="true" type="q2:WebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPrintPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierPrintPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="GetSupplierPrintPartResult" nillable="true" type="q3:ArrayOfProductPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProductBarcodeFromISV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProductBarcodeFromISVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="GenerateProductBarcodeFromISVResult" nillable="true" type="q4:ArrayOfProductBarcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProductHUFromISV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="factoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pkgTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qtyPerHU" type="xs:decimal" />
        <xs:element minOccurs="0" name="totalQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProductHUFromISVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="GenerateProductHUFromISVResult" nillable="true" type="q5:ArrayOfProductHU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductHUByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductHUByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="GetProductHUByOrderResult" nillable="true" type="q6:ArrayOfProductHU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="productHUs" nillable="true" type="q7:ArrayOfProductHU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateTPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tpCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearTPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunctionTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunctionTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunctionTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="req" nillable="true" type="q8:PurchaseOrderReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="CloseOrderResult" nillable="true" type="q9:WebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncPurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="req" nillable="true" type="q10:SalesAgreementReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncPurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="SyncPurchaseOrderResult" nillable="true" type="q11:WebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncProductBarcodeToMES3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="req" nillable="true" type="q12:IFS_ProductBarcodeReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncProductBarcodeToMES3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="SyncProductBarcodeToMES3Result" nillable="true" type="q13:WebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncHUPkgMstrToMES3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="req" nillable="true" type="q14:IFS_HUPkgMstrReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncHUPkgMstrToMES3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="SyncHUPkgMstrToMES3Result" nillable="true" type="q15:WebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncHUPkgDetToMES3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="req" nillable="true" type="q16:IFS_HUPkgDetReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncHUPkgDetToMES3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="SyncHUPkgDetToMES3Result" nillable="true" type="q17:WebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncRackToMES3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="req" nillable="true" type="q18:IFS_RackReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncRackToMES3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="SyncRackToMES3Result" nillable="true" type="q19:WebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncPackageTypeToMES3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="req" nillable="true" type="q20:IFS_PackageTypeReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncPackageTypeToMES3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/I.MES.Models.IF" minOccurs="0" name="SyncPackageTypeToMES3Result" nillable="true" type="q21:WebServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserWorkID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="CurrentUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>